@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Inter:wght@100;300;400;500;600&family=Montserrat:wght@400;700&family=Nunito:ital,wght@0,200;0,300;1,200&family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300&family=Poppins:ital,wght@0,200;0,300;0,600;0,800;0,900;1,100;1,200;1,300;1,500&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;1,200;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Inter;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}
a:hover{
     color: hsl(5, 85%, 63%);
}
.header{
    width: 100%;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px;
}
.header nav ul li{
    display: inline-block;
    padding:20px;
}
/*home*/
.home{
    padding:30px;
}
.container{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px,1fr));
   grid-gap:50px;

}
.col-play{
    flex-basis: 80%;
}
.col-play img{
    max-width: 100%;
    width:200%;
}
.content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}
.heading{
    flex-basis: 50%;
}
.heading h1{
    width:60%;
    font-size: 40px;
    font-weight: bold;
}
.reading{
    flex-basis: 50%;
}
.reading button{
    color:white;
    margin-top: 30px;
    background-color:hsl(5, 85%, 63%);
    border:1px solid transparent;
    padding:20px 30px ;
    text-transform: uppercase;
    display:block;
}
.reading button:hover{
color:hsl(5, 85%, 63%);
background-color: #000;
}
.reading p{
    color:hsl(0, 0%, 50%);
    line-height:2;
    font-size: 15px;
}
.col-content{
    flex-basis: 20%;
}
.new{
    width:400px;
    height:400px;
    background-color: hsl(240, 100%, 5%);
    color:#fff;
    padding:20px;
}

.new h2{
    color:hsl(35, 77%, 62%);
}
.new h3 a{
    color:#fff;
    padding-top: 20px;
    
}
.new h3{
    margin-top: 20px;
}
.new p{
    color:hsl(0, 0%, 50%);
    margin-top: 10px;
}

.products{
 display: grid;
grid-template-columns: repeat(3, 350px);
margin-top: 50px;
gap: 20px;
}
.product{
    display: grid;
    gap: 15px;
    grid-template-columns: 100px 200px;;
}
.product .image img{
    max-width: 100%;
    width:100% ;
    border:10px solid hsl(5, 85%, 63%);
    overflow: hidden;

  
}
.product .image img:hover{
    transform: scale(0.9);
   

}
.product .con span{
   color:hsl(233, 8%, 79%);
   font-weight: 800;
   font-size: 20px;
}
.product h2{
    font-size: 22px;
    font-weight: bold;
    width:300px;
    margin:auto;
    margin-top: 10px;
}
.product p{
    font-size: 15px;
    color: hsl(236, 13%, 42%);
   
}
@media (max-width:767px) {
    
   
    
}